services:

  app:
    build:
      context: .
      dockerfile: ./app/Dockerfile
    image: sap-kb-app:latest

  ingestion-worker:
    build:
      context: .
      dockerfile: ./app/Dockerfile
    image: sap-kb-worker:latest

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: sap-kb-frontend:latest

